<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>822291780561-ghbfjjp1um0tte3nn3f22i2tqoobkr0q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.822291780561-ghbfjjp1um0tte3nn3f22i2tqoobkr0q</string>
	<key>API_KEY</key>
	<string>AIzaSyCcdXXdazNXVyICDd4IwxdyL59mWrHKR5g</string>
	<key>GCM_SENDER_ID</key>
	<string>822291780561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.baytalmagrifa.app</string>
	<key>PROJECT_ID</key>
	<string>bayt-al-magrifa</string>
	<key>STORAGE_BUCKET</key>
	<string>bayt-al-magrifa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822291780561:ios:695b00f7a5afb444fb06f0</string>
</dict>
</plist>